.header-container{
    display: flex;
    justify-content: space-between;
    
}
.header-container>img{
    width: 10rem;
    height: 3rem;
    padding-top: 1.5rem;
}
.hero-menu{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    padding: 1.5rem 2rem;
}
.hero-menu>li:hover{
    color: var(--deeppink);
    cursor: pointer;
}